<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>    
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>   
    <main>
        <h1>Productos</h1>  
        {{#if products.length}}
            <div id="product-list" class="product-list">
                {{#each products}}                    
                    <div class="product-card" data-id="{{this._id}}">
                        <figure class="figure">
                            <span class="category-badge">{{this.category}}</span>
                            <img
                                src="{{this.image}}"
                                alt="Imagen de {{this.title}}"
                                class="product-image"
                            />                            
                        </figure>
                        <div class="product-info">
                            <div class="title-box">
                                <p class="product-name">{{this.title}}</p>
                            </div>
                            <div class="specific-info">
                                <div class="stock-box">
                                    <p>{{this.stock }}</p>&nbsp;
                                    <p>uds en stock</p>
                                </div>
                                <div class="price-box">
                                    <p class="product-price">${{this.price}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>No hay productos disponibles</p>
            <p>Home</p>
        {{/if}}          
        <div class="pagination-section">
            {{#if pagination.hasPrevPage}}
                <a id="prev-button" href="{{#if category}}/{{category}}{{/if}}/page/{{pagination.prevPage}}" data-page="{{pagination.prevPage}}">Anterior</a>
            {{/if}}
            <input type="number" id="page-input" value="{{pagination.page}}" min="1" max="{{pagination.totalPages}}" style="width: 50px; text-align: center;" />
            {{#if pagination.hasNextPage}}
                <a id="next-button" href="{{#if category}}/{{category}}{{/if}}/page/{{pagination.nextPage}}" data-page="{{pagination.nextPage}}">Siguiente</a>
            {{/if}}
        </div>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>
